<div id="config" style="display: none;"
     data-meetingId="@ViewBag.MeetingId"
     data-meetingJoinUrl="@ViewBag.MeetingJoinUrl"
     data-meetingConferenceUri="@ViewBag.MeetingConferenceUri"
     data-apiBaseUrl="@ViewBag.APIBaseUrl"
     data-webPortalBaseUrl="@ViewBag.WebPortalBaseUrl"
     data-clientId="@ViewBag.ClientId"
     data-skypeServiceUrl="@ViewBag.SkypeServiceUrl"
     data-skypeUseConversationControl="@ViewBag.SkypeUseConversationControl"
     data-isAuthenticated="@ViewBag.IsAuthenticated">
</div>